html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-container {
  width: 100%;
  max-width: 90%;
  padding: 15px;
  margin: auto;
}

.form-floating {
  margin: 15px;
}